@use 'src/styles/media' as query;
@use 'src/styles/variables' as vars;

.consequences {
	padding: 3rem vars.$container-padding;

	h1 {
		font-size: 1.75rem;

		@include query.media('screen', '<breakpoint-lg-tablet') {
			font-size: 1.35rem;
		}
	}


	.wrapper {
		max-width: 1024px;
		display: grid;
		gap: 1rem;
		margin: 0 auto;

		.section {
			display: flex;
			gap: 3rem;
			margin-bottom: 1rem;

			@include query.media('screen', '<breakpoint-lg-tablet') {
				flex-direction: column;
				gap: 1.5rem;
			}

			.item {
				h1 {
					margin-bottom: 1rem;
				}

				img {
					border-radius: 10px;
					height: 340px;
				}

			}
		}

		>h1 {
			text-align: center;

			@include query.media('screen', '<breakpoint-lg-tablet') {
				font-size: 1.2rem;
				line-height: 1.3;

			}
		}

		button {
			margin: 0 auto;
			background-color: var(--primary);
			border-radius: 1rem;
			font-weight: 700;
		}

		.list {
			display: flex;
			flex-direction: column;
			gap: 0.6rem;
			justify-content: center;

			div {
				display: flex;
				align-items: center;
				gap: 0.75rem;

				h1 {
					@include query.media('screen', '<breakpoint-lg-tablet') {
						font-size: 1rem;
					}
					flex: 1;
					margin: 0;
					line-height: 1.4;
					word-break: break-word;
					white-space: normal;
				}
			}
		}
	}
}