@use 'src/styles/variables' as vars;

.faq {
	padding: 1rem vars.$container-padding;

	.wrapper {
		max-width: 1024px;
		display: grid;
		gap: 1rem;
		margin: 0 auto;
	}
}

.AccordionRoot {
	width: 100%;
	border: 1px solid #d1d5db;
	border-radius: 0.75rem;
}

.AccordionItem {
	overflow: hidden;
	margin-top: 1px;
	border-bottom: 1px solid #d1d5db;
	margin: 0 1rem;

}

.AccordionItem:first-child {
	margin-top: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-radius: 0.75rem 0.75rem 0 0;
}

.AccordionItem:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-radius: 0.75rem;
	border: none;
}

.AccordionItem:focus-within {
	position: relative;
	z-index: 1;
	box-shadow: 0 0 0 2px var(--mauve12);
}

.AccordionHeader {
	display: flex;
}

.AccordionTrigger {
	font-family: inherit;
	height: 45px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	line-height: 1;
	color: var(--violet11);
	box-shadow: 0 1px 0 var(--mauve6);
	background-color: var(--background);
	border: none;
}

.AccordionTrigger:hover {
	background-color: var(--mauve2);
}

.AccordionContent {
	overflow: hidden;
	font-size: 15px;
	color: var(--mauve11);
	background-color: var(--mauve2);
}

// .AccordionContent[data-state='open'] {
//     animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
// }

// .AccordionContent[data-state='closed'] {
//     animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
// }

.AccordionContentText {
	// padding: 15px 20px;
	padding: 0 0 1rem 0;
	line-height: 1.6rem;
}

.AccordionChevron {
	color: var(--violet10);
	transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open']>.AccordionChevron {
	transform: rotate(180deg);
}

// @keyframes slideDown {
//     from {
//         height: 0;
//     }

//     to {
//         height: 300px;
//     }
// }

// @keyframes slideUp {
//     from {
//         height: 300px;
//     }

//     to {
//         height: 0;
//     }
// }