@use 'src/styles/media' as query;
@use 'src/styles/variables' as vars;

.watching {
	margin: 1rem 0 0.25rem;

	.wrapper {
		max-width: 1024px;
		margin: 0 auto;
		background-color: rgba(255, 255, 255, 0.395);
		border-radius: 0.5rem;
		padding: 0.5rem 0.5rem;
		color: #000;
		display: flex;
		gap: 0.5rem;
		align-items: center;
	}
}