@use 'src/styles/media' as query;
@use 'src/styles/variables' as vars;

.trust {
	padding: 3rem vars.$container-padding;
	background-color: var(--secondary);
	color: var(--text-light);

	h1 {
		font-size: 1.6rem;
	}

	.wrapper {
		max-width: 1024px;
		display: grid;
		gap: 1rem;
		margin: 0 auto;

		>h1 {
			text-align: center;

			span {
				color: var(--primary);
			}
		}

		.imageContainer {
			display: flex;
			justify-content: center;
			gap: 2rem;

			@include query.media('screen', '<breakpoint-lg-tablet') {
				flex-direction: column;
				align-items: center;
				gap: 1rem;
			}

			img {
				border-radius: 10px;
				max-width: 100%;
				height: auto;
			}
		}
	}
}