@use 'src/styles/media' as query;
@use 'src/styles/variables' as vars;

.hero {
	background-color: #ffffff;
	padding: 0 vars.$container-padding;
	margin-top: 0;

	// @include query.media('screen', '<breakpoint-lg-tablet') {
	// 	padding: 0;
	// }

	.wrapper {
		max-width: 1200px;
		display: flex;
		gap: 0;
		margin: 0 auto;


		@include query.media('screen', '<breakpoint-lg-tablet') {
			flex-direction: column-reverse;
			text-align: center;

		}
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		padding: 5rem 0 2rem;

		@include query.media('screen', '<breakpoint-lg-tablet') {
			padding: 1.5rem 0 0.5rem 0;
			align-items: center;
		}

		h1 {
			font-weight: 800;
			margin-bottom: 0;
			font-size: 1.4rem;
			line-height: 2.35rem;
		}

		p {
			margin-bottom: 1rem;
			line-height: 1.5;
		}

		button {
			padding: 10px 20px;
			font-size: 18px;
			text-align: center;
			color: #fff;
			background-color: #03629A;
			border-width: 2px;
			border-color: #624899;
			border-radius: 10px;
			font-weight: 700;


			&:hover {
				background-color: #2b2b2b
			}

			&:active {
				background-color: #2b2b2b;
				box-shadow: 0 -2px #000;
				border-color: #000;
				transform: translateY(2px);

			}
		}

		&+h1 {
			font-size: 1.25rem;
			margin-bottom: 1rem;
			margin-top: 1rem;
		}
	}

	img {
		align-self: center;
		margin: 0 auto;
		border-radius: 15px;



		@include query.media('screen', '<breakpoint-lg-tablet') {
			height: 350px;
			margin-top: 1.5rem;
			border-radius: 15px;
			margin-bottom: 0.5rem;

		}
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 1rem 0 3rem 0;
		gap: 1rem;
		background-color: #EFEFEF;
		padding: 1rem;
		border-radius: 10px;


		@include query.media('screen', '<breakpoint-lg-tablet') {
			gap: 1rem;
			padding: 1.5rem 1rem;
		}

		.icon {
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;
		}

		p {
			color: var(--secondary);
			font-weight: 700;
			text-align: center;
			line-height: 1.2;

		}
	}
}