// @use 'src/styles/media' as query;
// @use 'src/styles/variables' as vars;

// .reviews {
// 	padding: 3rem vars.$container-padding;

// 	h1 {
// 		font-size: 1.75rem;
// 	}

// 	.wrapper {
// 		max-width: 1024px;
// 		display: grid;
// 		gap: 1rem;
// 		margin: 0 auto;

// 		>h1 {
// 			text-align: center;

// 			span {
// 				color: #FFC21F;
// 			}
// 		}

// 		img {
// 			margin: 0 auto;

// 			@include query.media('screen', '<breakpoint-lg-tablet') {
// 				height: 280px;
// 			}
// 		}
// 	}
// }