:root {
	--background: #ffffff;
	--text-light: #ffffff;
	--text-dark: #000000;
	--text-secondary: #808080;
	--primary: #00629A;
	--secondary: #2b2b2b;
	--warning-box: #fdf4e9;

	// By Element
	--input-border: #d1d5db;
	--focus: #2b2b2b;
	--choice: #2b2b2b;


}