// Media Queries
$breakpoint-tablet: 480px;
$breakpoint-lg-tablet: 768px;
$breakpoint-desktop: 1366px;
$breakpoint-lg-desktop: 1920px;

// Dimensions
$footer: 54px;
$header: 47px;
$mobile_nav: 6rem;

// Padding
$container-padding: 1rem;
