@use 'src/styles/colors' as colors;

/* Reset everything, with exceptions */
// *:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
// 	all: unset;
// 	display: revert;
// }

*,
*::before,
*::after {
	box-sizing: border-box;
}

::selection {
	background: var(--focus);
	color: var(--white-smoke);
}

/* Remove default margin */
* {
	margin: 0;
}

html,
body {
	/* Allow percentage-based heights in the application */
	height: 100%;
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1;
	cursor: default;
	// overflow: hidden;

	/* Safari font-size optimization in landscape mode */
	-webkit-text-size-adjust: 100%;

	color: var(--midnight-blue);
	background: var(--white);
}

/* Body text optimization */
body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	margin: 0;
	letter-spacing: 0.2px;
}

h1 {
	font-size: 2rem;
	font-weight: 600;
	line-height: unset;
}

p {
	margin: 0;
	font-size: unset;
	line-height: unset;
}

/* Create a root stacking context */
#root,
#__next {
	isolation: isolate;
}

ol,
ul {
	list-style: none;
	-webkit-padding-start: 0;
	padding-inline-start: 0;
}

a {
	color: var(--azul);
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;

	&:hover {
		color: var(--focus);
	}

	&:not([class]):focus {
		outline: 1px solid currentColor;
		outline-offset: 0.15em;
	}
}