// @use 'src/styles/media' as query;

// .RadioGroupRoot {
//     display: grid;
//     gap: .5rem;
//     margin-top: 0.5rem;
// }

// .label {
//     display: flex;
//     align-items: center;

//     img {
//         margin-right: 8px;

//     }

// }


// .item {
//     display: flex;
//     align-items: center;
//     padding: 0 .5rem;
//     font-size: 14px;
//     position: relative;
//     cursor: pointer;

//     b,
//     span {
//         font-weight: 700;
//     }

//     @include query.media('screen', '<breakpoint-lg-tablet') {
//         padding: 0.25rem 1.2rem;
//     }


// }

// .izaberiContainer {
//     text-align: center;
//     position: relative;
//     margin-bottom: 5%;
// }

// .horizontalLine {
//     flex: 1;
//     position: relative;
// }

// .horizontalLine::after {
//     content: '';
//     display: block;
//     border-top: 1px solid rgba(31, 31, 31, 0.3);
//     /* Adjust the alpha value for thickness */
//     position: absolute;
//     top: 50%;
//     left: 0;
//     right: 0;
// }


// .izaberiText {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     z-index: 1;
//     background-color: var(--background);
//     padding: 0 10px;
//     left: calc(50% - 60px - 1rem);
// }




// .RadioGroupItem {
//     width: 100%;
//     border-radius: 0.75rem;
//     position: absolute;
//     top: 0;
//     left: 0;
//     border: 2px dashed var(--input-border);
//     height: 100%;
//     cursor: pointer;

// }

// .RadioGroupItem[data-state='checked'] {
//     outline: 3px solid var(--primary);
//     box-shadow: 0 0 0 2px var(--primary);
//     background-color: var(--primary);
//     z-index: 0;
//     border: none;
//     height: 100%;


//     &+input+label {
//         color: white;
//     }
// }

// .RadioGroupItem:hover {
//     box-shadow: 0 0 0 3px var(--input-border);
//     height: 100%;
//     border: none;

// }

// .RadioGroupItem:focus {
//     box-shadow: 0 0 0 3px var(--focus);
//     height: 100%;
//     border: none;
// }

// .RadioGroupIndicator {

//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100%;
//     position: relative;
//     overflow: hidden;

// }

// .RadioGroupIndicator::after {
//     content: '';
//     display: block;
//     width: 11px;
//     height: 1px;
//     border-radius: 50%;
// }

// .label {
//     z-index: 1;
// }